// Font styles
%title {
	font-size: 200%;
	@media $break-large {
		font-size: 220%;
	}
}
%heading {
	font-size: 150%;
}
%subheading {
	font-size: 120%;
}
%body {
	font-size: 100%;
	line-height: 1.3;
}
%info {
	font-size: 80%;
	text-transform: uppercase;
}
// Bottom border horizontal line
%rule {
	border: 0;
	padding-bottom: 1rem;
	margin-bottom: 1.2rem;
	border-bottom: 1px solid $grey-light;
}
// Maximum width centred
%width {
	max-width: 43em;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}
html {
	height: 100%;
}
body {
	position: relative;
	min-width: 19em;
	max-width: 80em;
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	padding-bottom: 11em;  // Space for fixed footer
	box-shadow: 0 0 0.7rem 0 $shadow;
	color: $grey-dark;
	font-family: "Cooper Hewitt", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	@media $break-medium {
		font-size: 110%;
	}
	@media $break-large {
		font-size: 130%;
	}
}
p,
img,
ol,
ul {
	margin-bottom: 1rem;
}
h1 {
	@extend %title;
	margin-bottom: 0.8rem;
}
h2 {
	@extend %heading;
	margin-bottom: 0.6rem;
}
h3 {
	@extend %subheading;
}
p {
	@extend %body;
}
