footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	.logo-icon {
		position: absolute;
		bottom: calc(100% + 1em);
		left: 50%;
		transform: translate(-50%, 0);
		width: 2.5em;
		@media $break-medium {
			width: 3.5em;
		}
		@media $break-large {
			width: 4em;
		}
	}
	.footer-bar {
		background: $grey-dark;
		padding: 1rem;
		text-align: right;
		position: relative;
		.site-info,
		a {
			color: $grey-light;
		}
		& > a {
			display: inline-block;
			margin-left: 0.5em;
		}
		@media $break-medium {
			padding-top: 1.1em;
			padding-bottom: 1.2em;
		}
		@media $break-large {
			.footer-bar {
				padding-left: 1.5em;
				padding-right: 1.5em;
			}
		}
	}
	.social-links {
		position: absolute;
		left: 1em;
		top: 0.8em;
		text-align: left;
		@media $break-medium {
			top: 1.3em;
		}
		@media $break-large {
			left: 1.5em;
			top: 1.5em;
		}
	}
	.site-info {
		font-size: 60%;
		text-align: center;
		margin-top: 0.7rem;
		margin-bottom: -0.5rem;
		p {
			margin-bottom: 0.2em;
		}
		p:last-child {
			opacity: 0.5;
		}
		@media $break-medium {
			margin-top: -1.5rem;
			p {
				margin-bottom: 0.4em;
			}
		}
		@media $break-large {
			font-size: 70%;
		}
	}
	.page-links {
		position: relative;
		a {
			display: inline-block;
			margin-left: 0.5em;
		}
		@media $break-medium {
			top: 0.2em;
		}
		@media $break-large {
			top: 0.4em;
		}
	}
}
