// Single-page styles
.home-about {
	overflow: auto;
	h1 {
		font-size: 150%;
	}
}
.home-about img {
	display: block;
	width: 50%;
	max-width: 10em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	border-radius: 6em;
}
.home-about .button {
	margin-top: 1em;
}
.home-about .button br {
	display: none;
}

@media $break-small {
	.home-about img {
		float: right;
		border-radius: 0;
		margin-left: 1rem;
	}
	.home-about h1 {
		float: left;
	}
}
@media $break-medium {
	.home-about h1 {
		width: auto;
	}
}
@media $break-large {
	.home-about {
		position: relative;
		margin-top: 12em;
		overflow: visible;
	}
	.home-about p {
		width: calc(100% - 16.1rem);
		margin-top: 0.5em;
		margin-left: 16.1rem;
	}
	.home-about h1 {
		width: calc(100% - 17.5rem);
		font-size: 180%;
		position: absolute;
		bottom: calc(100% - 1.2rem);
	}
	.home-about .button {
		position: absolute;
		top: calc(50% - 2.5em);
		margin: 1em;
		br {
			display: block;
		}
	}
	.home-about img {
		position: absolute;
		right: 1.5rem;
		bottom: 100%;
		margin: 0;
	}
}
