// Single-page styles
.about {
	overflow: auto;
	h1 {
		font-size: 150%;
	}
}
.avatar {
	width: 50%;
	max-width: 10em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6em;
}
.about .button br {
	display: none;
}

@media $break-small {
	.avatar {
		float: right;
		border-radius: 0;
		margin-left: 1rem;
		margin-bottom: 0;
	}
	.about h1 {
		float: left;
	}
	.about h1,
	.about p {
		width: calc(100% - 11rem);
	}
}
@media $break-medium {
	.about h1 {
		width: auto;
	}
}
@media $break-large {
	.about p {
		float: right;
		clear: right;
		width: calc(100% - 16.1rem);
		margin-top: 0.5em;
	}
	.about h1 {
		width: calc(100% - 14.5rem);
		min-height: 5.6em;
		position: relative;
		font-size: 180%;
		div {
			position: absolute;
			bottom: 0;
		}
	}
	.about .button {
		float: right;
		clear: left;
		margin: 1em;
		br {
			display: block;
		}
	}
	.avatar {
		margin-left: 0.5rem;
	}
}