// Single-page styles
.about {
	overflow: auto;
}
.avatar {
	width: 50%;
	max-width: 12em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6em;
}
.about .button br {
	display: none;
}
.post-preview {
	background: $light;
	article:not(:last-child) {
		margin-bottom: 1em;
	}
}

@media $small {
	.avatar {
		float: right;
		border-radius: 0;
		margin-left: 1em;
		margin-bottom: 0;
	}
	.about .button br {
		display: block;
	}
}
@media $medium {
	.about h1 {
		float: left;
		width: calc(100% - 8.7em);
	}
	.about .button br {
		display: none;
	}
}
@media $large {
	.about p {
		float: right;
	}
}