// Font styles
%title {
	font-size: 200%;
	@media $break-large {
		font-size: 220%;
	}
}
%heading {
	font-size: 150%;
}
%subheading {
	font-size: 120%;
}
%body {
	font-size: 100%;
	line-height: 1.3;
}
%info {
	font-size: 80%;
	text-transform: uppercase;
}
// Bottom border horizontal line
%rule {
	border: 0;
	padding-bottom: 1rem;
	margin-bottom: 1.2rem;
	border-bottom: 1px solid $grey-light;
}
// Maximum width centred
%width {
	max-width: 43em;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}
