// Blog post styles
article img {
	max-width: 100%;
	width: 100%;
}
.page-header {
	@extend %rule;
	text-align: center;
	padding-top: 1rem;
}
.page-info {
	@extend %info;
	span {
		display: inline-block;
		margin: 0 0.5em;
	}
}
.post-tags {
	@extend %info;
	text-align: center;
	line-height: 1.8;
	word-spacing: 1em;
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
}
article .content {
	max-width: 38em;
	margin: 0 auto;
}
main > article {
	margin-top: 1.5rem;
	p > img {
		max-width: 30em;
		margin: 0 auto;
		&:first-child {
			margin-top: 2rem;
		}
	}
	p > img + em {
		display: block;
		max-width: 30em;
		text-align: center;
		font-style: italic;
		font-size: 80%;
		margin: 1rem auto;
	}
	h1:not(.page-title) {
		@extend %rule;
	}
}
.post-preview,
.category-preview {
	background: $grey-light;
	.post-image {
		height: 12em;
		overflow: hidden;
		margin-bottom: 1em;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	.page-header {
		border-color: darken($grey-light, 10);
	}
	h1 {
		font-size: 150%;
	}
}

@media $break-large {
	.post-preview h1 {
		font-size: 180%;
	}
}