// Blog post styles
article img {
	max-width: 100%;
	width: 100%;
}
article h1,
.post-info {
	text-align: center;
}
.post-info {
	@extend %info;
	padding-bottom: 1em;
	margin-bottom: 1.2em;
	border-bottom: 1px solid lighten($dark, 60);
	span {
		display: inline-block;
		margin: 0 0.5em;
	}
}