// Template styles
html,
body {
	height: 100%;
}
body {
	font-family: "Cooper Hewitt", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: $grey-dark;
	min-width: 19em;
}
main {
	width: 100%;
	min-height: 100%;
	max-width: 80em;
	margin: 0 auto;
	box-sizing: border-box;
	box-shadow: 0 0 0.7rem 0 $shadow;
	position: relative;
	padding-bottom: 12em;
	& > * {
		clear: both;
	}
}
section > *,
article {
	max-width: 43em;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}
header {
	position: relative;
	height: 20em;
	background-color: lighten($grey-dark, 55);
	background: linear-gradient(rgba($black, 0.3), rgba($black, 0)),
				url("../img/hero-bali.jpg"), lighten($grey-dark, 55);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	.logo {
		position: absolute;
		height: 4.5em;
		top: 3em;
		left: 50%;
		transform: translate(-50%);
		opacity: 0.9;
	}
	&.has-cover .logo {
		top: 7em;
		filter: drop-shadow(0 0 0.3rem $shadow);
	}
	nav {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 1em 0;
		background: rgba($black, 0.25);
		text-transform: uppercase;
		text-align: center;
		font-size: 70%;
		a {
			display: inline-block;
			color: $white;
			opacity: 0.8;
			padding: 0.3em 1em 0.2em;
			margin: 0 -0.15em;
			&.is-active {
				border: 1px solid $white;
			}
			&:hover {
				color: $white;
			}
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	.logo-icon {
		width: 2.5em;
		margin: 0.9em auto 1em;
	}
	.footer-bar {
		background: $grey-dark;
		padding: 1rem;
		text-align: right;
		position: relative;
		.site-info,
		a {
			color: $grey-light;
		}
		& > a {
			display: inline-block;
			margin-left: 0.5em;
		}
	}
	.social-links {
		position: absolute;
		left: 1em;
		top: 0.8em;
		text-align: left;
	}
	.site-info {
		font-size: 60%;
		text-align: center;
		margin-top: 0.7rem;
		margin-bottom: -0.5rem;
		p {
			margin-bottom: 0.2em;
		}
		p:last-child {
			opacity: 0.5;
		}
	}
}
.social-links {
	$icon-size: 1.2em;
	a {
		display: inline-block;
		width: $icon-size;
		height: $icon-size;
		margin-right: 0.3em;
		background-size: $icon-size $icon-size;
		background-repeat: no-repeat;
	}
	.instagram {
		@include icon-instagram($grey-light);
	}
	.facebook {
		@include icon-facebook($grey-light);
	}
	.twitter {
		@include icon-twitter($grey-light);
	}
}

@media $break-small {
	header nav {
		font-size: 80%;
	}
}
@media $break-medium {
	body {
		font-size: 110%;
	}
	section {
		padding: 1rem;
	}
	footer {
		.logo-icon {
			width: 3em;
			margin-top: 1.2em;
			margin-bottom: 1.5em;
		}
		.footer-bar {
			padding-top: 1.1em;
			padding-bottom: 1.2em;
		}
		.site-info {
			margin-top: -1.5rem;
			p {
				margin-bottom: 0.4em;
			}
		}
		.social-links {
			top: 1.5em;
		}
	}
}
@media $break-large {
	body {
		font-size: 130%;
	}
	section {
		padding: 2rem;
	}
	footer {
		.logo-icon {
			margin-top: 1.8em;
			margin-bottom: 2em;
			width: 4em;
		}
		.footer-bar {
			padding-left: 1.5em;
			padding-right: 1.5em;
		}
		.social-links {
			left: 1.5em;
		}
	}
}
