// Colours
$black: #000;
$white: #fff;
$green-dark: #1d3251;
$green: lighten($green-dark, 10);
$grey-medium: #59677c;
$grey-dark: darken(#424540, 3);
$grey-light: #efefe6;
$shadow: rgba($black, 0.3);

$transition-medium: .2s;

// Break points
$break-small: screen and (min-width: 30em);
$break-medium: screen and (min-width: 40em);
$break-large: screen and (min-width: 50em);
// Very large break points for Istagram grid
$break-vlarge: screen and (min-width: 65em);
$break-vvlarge: screen and (min-width: 85em);
