// Colours
$black: #000;
$white: #fff;
$green: #77a669;
$green-dark: #6e917e;
$orange: #e5a145;
$grey-dark: #424540;
$grey-medium: #756867;
$grey-light: lighten(#d5d6d2, 10);
$shadow: rgba($black, 0.3);

$transition-medium: .2s;

// Break points
$break-small: screen and (min-width: 30em);
$break-medium: screen and (min-width: 40em);
$break-large: screen and (min-width: 50em);
// Very large break points for Istagram grid
$break-vlarge: screen and (min-width: 65em);
$break-vvlarge: screen and (min-width: 85em);
