@import "reset";
@import "fonts";
@import "images";

// Colours
$black: #000;
$white: #fff;
$dark: #424540;
$green: #77a669;
$light: lighten($dark, 65);
$shadow: rgba($dark, 0.3);

// Font styles
%title {
	font-size: 150%;
}
%heading {
	font-size: 120%;
}
%body {
	font-size: 100%;
}
%info {
	font-size: 70%;
	text-transform: uppercase;
}

// Reusable styles
a {
	text-decoration: none;
}
.button {
	display: table;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em 1.2em;
	margin: 0 auto;
	min-width: 8em;
	&.light {
		color: $green;
		border: 1px solid $green;
	}
	&.dark {
		color: $white;
		background: $green;
	}
}
p,
img {
	margin-bottom: 1em;
}
h1 {
	@extend %title;
	margin-bottom: 0.8rem;
}
h2 {
	@extend %heading;
}
p {
	@extend %body;
}
section {
	padding: 1rem;
}
img {
	display: block;
}

@import "template";
@import "post";
@import "home";
