html {
	overflow-y: scroll;
}
body {
	margin: 1.25em;
	font-size: 90%;
	font-family: "Fjord";
	color: #424540;
}
a {
	text-decoration: none;
	color: #77A669;
}
a:hover {
	border-bottom: 0.07em solid #77A669;
	color: #77A669;
}
h1 {
	text-align: center;
	font-family: "GoodlifeSansCondensed";
	color: #424540;
	font-size: 344%;
	font-weight: normal;
	margin: -0.2em 0 0.3em 0;
	line-height: 1em;
}
h2 {
	font-family: "GoodlifeSansCondensed";
	font-size: 250%;
	font-weight: normal;
	margin: -0.4em 0 0.4em 0;
	color: #424540;
	line-height: 1em
}
h3, h4, h5, h6 {
	font-size: 180%;
	font-family: "GoodlifeSansCondensed";
	font-weight: normal;
	margin: -0.55em 0 0.6em 0;
}
p, ul, ol {
	color: #424540;
	font-size: 113%;
	margin: 0 0 1.11em 0;
}
p {
	text-align: justify;
	color: #424540;
	line-height: 1.3em
}
main {
	max-width: 50em;
	margin: 0 auto;
	overflow: hidden;
}
hr {
	display: block;
	width: 10.5em;
	height: 0.43em;
	margin: 0 auto 1.25em auto;
	background: url("../images/line-medium.svg");
	background-repeat: no-repeat;
	border: 0;
}
blockquote {
	margin: 0 10% 1.25em 10%;
	font-style: italic;
	quotes: "“" "”" "‘" "’";
	position: relative;
}
blockquote p {
	text-align: center;
}

.header-logo {
	display: block;
	height: 15.6em;
	max-width: 100%;
	margin: 0 auto 1.25em auto;
}
.header-nav {
	font-family: "GoodlifeSans";
	text-align: center;
	color: #424540;
	cursor: default;
	font-size: 150%;
	line-height: 1em;
	margin-top: -0.4em;
	margin-bottom: 0.69em;
}
.header-nav a {
	display: inline-block;
	margin: 0 1em;
	cursor: pointer;
	position: relative;
	margin-bottom: 0.83em;
}
.header-nav a:hover {
	border: none;
}
.header-nav a.active {
	color: #77A669;
}
.header-nav a.active::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -0.75em;
	width: 100%;
	height: 0.19em;
	background: url("../images/line-small.svg");
	background-size: 2.5em 0.19em;
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}
.header-nav a:hover {
	color: #77A669;
}
.post header time {
	color: #77A669;
	font-family: "GoodlifeSans";
	font-size: 138%;
	text-align: center;
	line-height: 1em;
	margin: 0 0 1.5em 0;
	display: block;
}
.post p img {
	display: block;
	width: 100%;
	max-width: 31.25em;
	margin: 1.3em auto 1.11em auto;
}
.post p img + em {
	display: block;
	text-align: center;
}
.post footer {
	font-family: "GoodlifeSansCondensed";
	font-size: 200%;
	text-align: center;
	color: #424540;
	line-height: 1.1em;
	margin-top: -0.5em;
	margin-bottom: 0.63em;
}
.post footer .property {
	color: #77A669;
	font-size: 130%;
}
.post footer div:first-child {
	margin-bottom: 0.4em;
}
.tags .property::before {
	content: "#";
}
.page-footer {
	font-style: italic;
	text-align: center;
	margin-top: 1.25em;
	color: #BEB5AA;
	clear: both;
}
.page-footer a {
	color: inherit;
	text-decoration: none;
}
.page-footer span {
	display: inline-block;
	margin: 0 1em;
}
blockquote::before, blockquote::after{
	font-size: 400%;
	color: #BEB5AA;
	font-family: serif;
	font-weight: bold;
	position: absolute;
	font-style: normal;
}
blockquote::before {
	content: open-quote;
	top: -0.15em;
	left: -7%;
}
blockquote::after {
	content: close-quote;
	bottom: -0.55em;
	right: -7%;
}
blockquote p + p {
	margin-top: -0.5em;
}
.list article {
	max-width: 50em;
	width: 100%;
	margin: 0 auto;
	clear: both;
	overflow: auto;
	margin-bottom: 1.88em;
	position: relative;
	min-height: 7.8em;
}
.list article .info {
	margin-left: 9.3em;
	overflow: hidden;
}
.list article .image {
	position: absolute;
	width: 7.8em;
	height: 7.8em;
	overflow: hidden;
}
.list article .image img {
	max-height: 100%;
}
.list article h2 {
	margin-top: -0.2em;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
}
.list article:first-of-type {
	margin-top: 2.5em;
}
.list article h3 a {
	color: #424540;
}
.list article h3 a:hover {
	color: #77A669;
}
.list article h3:last-of-type {
	float: left;
}
.list article .more {
	float: right;
	font-size: 113%;
}
.list article .more::after {
	background-image: url("../images/arrow-right.svg");
	display: inline-block;
	background-size: 2em 0.7em;
	height: 0.8em;
	width: 1.6em;
	content: "";
	background-repeat: no-repeat;
	position: relative;
	top: 0.1em;
}
.list article p:last-of-type {
	margin-bottom: 0;
}

@media all and (max-width: 38em) {
	.header-nav a {
		margin-left: 0.4em;
		margin-right: 0.4em;
	}
	.list .more {
		display: none;
	}
}

@media all and (max-width: 32em) {
	body {
		font-size: 90%;
		margin: 1.25em 0.9em;
	}
	h1 {
		font-size: 300%;
	}
	h2 {
		font-size: 200%;
		margin-bottom: 0.35em;
	}
	h3 {
		font-size: 160%;
		margin-bottom: 0.4em;
	}
	.header-logo {
		height: 12em;
	}
	.header-nav {
		margin-bottom: 1.2em;
	}
	.header-nav a {
		margin: 0 0.25em;
	}
	.post footer {
		font-size: 180%;
	}
	.list article {
		min-height: 6.5em;
	}
	.list article .info {
		margin-left: 7.5em;
	}
	.list article .image {
		width: 6.5em;
		height: 6.5em;
	}
}

@media all and (max-width: 29em) {
	body {
		font-size: 85%;
		margin: 1.25em 0.8em;
	}
	h1 {
		font-size: 250%;
	}
	h2 {
		font-size: 180%
	}
	h3 {
		font-size: 150%;
	}
	.header-logo {
		height: 10em;
	}
	.header-nav a {
		margin: 0 0.05em;
		font-size: 80%;
	}
	.header-nav a.active::after {
		bottom: -0.5em;
	}
	.post header time {
		font-size: 120%;
	}
	.post footer {
		font-size: 160%;
		margin-top: -0.2em;
	}
	.post p img + em {
		margin-top: -0.4em;
		font-size: 90%;
	}
	.list article {
		min-height: 5.5em;
	}
	.list article .info {
		margin-left: 6.3em;
	}
	.list article .image {
		width: 5.5em;
		height: 5.5em;
	}
	.list article p {
		font-size: 95%;
		margin-top: -0.2em;
	}
	.list article h2 {
		margin-top: -0.1em;
	}
	.list article:first-of-type {
		margin-top: 1.5em;
	}
	.page-footer {
		font-size: 90%;
	}
}